@use "src/global_styles/products";
@use "src/global_styles/product_card";
@use "src/global_styles/settings";
@use "src/global_styles/base";

.cardContainer {
    flex-wrap:wrap;
    border: 3px solid rgb(179, 179, 179);
    border-radius: 10px;
    margin: 40px;
    padding: auto;
}
.relatedProduct{
 
  flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 6rem;
    margin: 40px;

}
.stocks{
  margin: 10px 0px;
}
.stock{
  color: green;
  border: #999;
  font-size: 25px;

}
.stock1{
  color: red;
  border: #999;
  font-size: 25px;



}
.count_wrapper {
  flex-wrap:wrap;
}
.count {
  position: relative;
  font-weight: bold;
  color: black;
  outline: none;
  margin: 10px;
}
button {
  padding: 10px 15px;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 4px 12px -2px rgba(100, 110, 150, 0.2);
  font-size: inherit;
  background: white;
  color: #999;
  cursor: pointer;
  transition: 0.2s all;

  &:hover {
    border: 1px solid #eee;
    box-shadow: 0 3px 8px -1px rgba(100, 110, 150, 0.2);
    color: black;
  }
  &:active {
    box-shadow: none;
    transform: scale(0.9);
  }
  &:disabled {
    background-color: rgb(179, 179, 179);
  }
  
}

.buttonCart
{
    display: flex;
    margin: 40px 0px;
    padding: 13px;
    background-color: settings.$lowernavbar;
    color: #fff;
    justify-content: center;
    fill: #fff;
    letter-spacing: 3px;
    font-weight: bold;
    &:disabled {
      background-color: rgb(179, 179, 179);
      border: none;
      

      
    }
  
}

.latest_products_grid_container{
  
}