$primary_dark:#060622;
$primary_light:#3e4354;
$darkgray:#8b8793;
$lightgray:#d8d6da;
$whitegray:#f3f3f3;
$textcolor: #0d0d0d;

@mixin button_basic_styles {
    border: none;
    display: block;
    cursor: pointer;
    outline: none;
}