@use 'src/global_styles/settings';

.navbar{

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .top_navbar{
        align-items: center;
        background-color: settings.$primary_dark;
        color: settings.$whitegray;
        display: flex;
        justify-content: space-between;
        padding: 2rem 3rem;
    }
}