.search_bar_container{
    width: 30%;
}

.search_bar_form {
    
    border-radius: .5rem;
    display: flex;
    font-size: 1.6rem ;
    overflow: hidden;

    input{
        border: none;
        padding: .5rem;
        outline: none;
        width: 100%;
    }
    button{
        background-color: rgb(255, 180, 50);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        width: 4rem;
    }
}